<p>I am Vijay Sharma, a Data Scientist specializing in Operations Research and Machine Learning. 
    I have done master's in Industrial Engineering and Operations Research and currently working 
    as Data Scientist at Jio Platforms Limited</p>

<p>
    I  have solved a lot of real-world business problems in warehousing and transportation
    that employs my knowledge of operations research and machine learning.
    The problem includes routing, scheduling, warehouse slotting optimization, picking optimization etc.
</p>

<p>
    If you want to understand different topics in Operations Research and how they are practices in industry,
    you can check on the below links:
</p>

<p>Inventory Optimization: <a href="pages/inv_opt.html">link</a></p>

